/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family:"Ostrich Sans Bold";
	src:url("ostrich-bold.eot?") format("eot"),url("../resources/ostrich-bold.woff") format("woff"),url("../resources/ostrich-bold.ttf") format("truetype"),url("../resources/ostrich-bold.svg#OstrichSans-Bold") format("svg");
	font-weight:normal;font-style:normal;
}

body {
  margin: 0;
  background-color: #252627;
  display: block;
}

h1 {
	position: absolute;
	color: #11E5E8;
	font-size: 75px;
	font-family:"Ostrich Sans Bold";
	top: 0px;
	margin-left: 45%;
}

h2 {
	position: absolute;
	color: darkGray;
	font-size: 13px;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	margin-left: 35%;
	top: 120px;
	font-weight: lighter;
	letter-spacing: 3px;
}
