/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family:"Ostrich Sans Bold";
	src:url("ostrich-bold.eot?") format("eot"),url("../resources/ostrich-bold.woff") format("woff"),url("../resources/ostrich-bold.ttf") format("truetype"),url("../resources/ostrich-bold.svg#OstrichSans-Bold") format("svg");
	font-weight:normal;font-style:normal;
}

body {
  margin: 0;
  background-color: #252627;
  display: block;
}


h1 {
	position: absolute;
	color: #11E5E8;
	font-size: 75px;
	font-family:"Ostrich Sans Bold";
	top: 0px;
	margin-left: 45%;
	padding-bottom: 20px;
}


table {
	margin-top: 150px;
	margin-left: 125px;
}

h2 {
	position: absolute;
	margin: 0;
	color: #11E5E8;
	font-size: 45px;
	font-family:"Ostrich Sans Bold";
	padding-bottom: 20px;
}

h3 {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: normal;
	letter-spacing: 3px;
	font-size: 17px;
	color: #ffff;
	margin-top: 60px;
}

p {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
	color: darkGray;
	margin-top: 20px;
}

#black-jack {
	height: 300px;
	width: 420px;
	padding-top: 50px;
	padding-left: 20px;
}

.descr {
	width: 650px;
}

#clear-cell {
	height: 300px;
	width: 200px;
	padding-top: 50px;
	padding-left: 150px;
}

#blue-trail {
	height: 300px;
	width: 200px;
}

#food-buddy {
	height: 300px;
	width: 200px;
}

.descr2 {
	width: 650px;
}

.web-media {
	padding-left: 50px;
	padding-top: 20px;
}

a.proj-link {
	text-decoration: none;
}

.proj-link:hover {
	text-decoration: underline white;
}
